<% if @songs.present? %>
  <div class="player">
    <div class="audio-player" data-total="<%= @songs.count %>">
      <div class="mask"></div>
      <div class="promotion-img"></div>
      <div class="audio-control">
        <p class="audio-title"></p>
        <p class="audio-artist"></p>
        <p class="audio-play-number"></p>
        <div class='glyphicon glyphicon-remove-circle btn-close'></div>
        <div class="glyphicon glyphicon-collapse-down btn-show-promotion"></div>
        <span class="btn-prev"></span>
        <span class="btn-next"></span>
        <span class="btn-repeat-song" title=""></span>
        <audio id="audio-player" src="<%= @songs.first.url if @songs.present? %>" type="audio/mp3"></audio>
      </div>
    </div>
    <div class="playlist">
      <table class="table table-hover table-songs">
        <tbody>
          <%= render @songs %>
        </tbody>
      </table>
    </div>
  </div>

  <h4><%= t "labels.lyric" %></h4>
  <div class="lyric"></div>

<% else %>
  <center>
    <hr>
    <h4><strong><%= t "labels.no_data" %></strong></h4>
  </center>
<% end %>

<hr>
<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ads_homepage -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1391132134348179"
       data-ad-slot="2008653046"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
