<tr id="song-<%= song_counter %>" class="row-song"
  data-id="<%= song.id %>"
  data-khtitle="<%= song.kh_title %>"
  data-artist="<%= get_artist_with_link song %>"
  data-url="<%= song.url %>"
  data-lyric="<%= song.lyric %>"
  data-promotion-link="<%= song.promotion_image.link if song.promotion_image %>"
  data-bg-image="<%= song.bg_image.url %>"
  data-promotion-image="<%= song.promotion_image.image.url if song.promotion_image %>">
  <td width="50%" class="title"><%= "#{song_counter + 1}. #{song.kh_title}" %></td>
  <td width="50%" class="artist"><%= get_artist_with_link(song).html_safe %></td>
  <td width="5%"><%= link_to "", song.url, class: "glyphicon glyphicon-save btn-download",
    title: "Download",
    target: "_blank" %></td>
  <td width="5%"><%= link_to "", song_path(song), class: "glyphicon glyphicon-headphones", title: "Listen in new window" if @songs.count > 1 %></td>
</tr>
