<%= provide :title, @song.kh_title %>
<div class="row">
  <div class="col-md-9 album">
    <%= render "share/song_detail" %>
    <%= render "share/player" %>
    <%= render "share/fb_comment_box" %>
  </div>
  <div class="col-md-3">
    <div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- av_banner_category_2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1391132134348179"
           data-ad-slot="2883283840"
           data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <h4><%= t "labels.other_songs" %></h4>
    <%= render partial: "other_song", collection: @similar_songs, as: :song %>
  </div>
</div>
