<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h3>Top Album  <%= link_to "See more", "", class: "btn btn-default pull-right" %></h3>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="btn-play"><%= image_tag "play" %></div>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>

     <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>
    </div>

    <h3>Hangmeas Production  <%= link_to "See more", "", class: "btn btn-warning pull-right" %></h3>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>

     <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag "1", class: "album-image" %>
          <div class="caption">
            <h5>Raksmy Hangmeas</h5>
            <%= link_to "", "", class: "glyphicon glyphicon-share-alt btn-action", title: "Share" %>
            <%= link_to "", "", class: "glyphicon glyphicon-heart-empty btn-action", title: "Add to favorite" %>
            <%= link_to "", "", class: "glyphicon glyphicon-thumbs-up btn-action", title: "Like" %>
          </div>
          <div class="btn-play"><%= image_tag "play" %></div>
        </div>
      </div>
    </div>

  </div>
</div>
