<!DOCTYPE html>
<html>
<head>
  <title>Musicpro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Hanuman' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink="true">

  <!-- facebook comment -->
    <div id="fb-root"></div>
  <!-- end -->

  <div class="header">
    <%= render "layouts/header" %>
  </div>
  <div class="container-fluid content">
    <%= yield %>
  </div>
  <div class="container-fluid footer">
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
